*{
    padding:0;
    margin:0;
    list-style:none;
    text-decoration:none;
}
input,button{
    border:none;
    outline:none;
}
.clear:after{
    content:"";
    display:block; 
    clear:both;
}
a{
    color:#000;
}
a:hover{
    color:#00b8ef;
    cursor:pointer; 
}
img:hover{
    cursor:pointer; 
}
/*头部*/
.head{
    width:100%;
}
.head-ul{
    width:1100px;
    margin:0px auto;
}
.head-ul1{
    float:left;
}
.head-ul1 .img{
    float:left;
    margin:15px 30px 10px;
}
.head-ul2{
    float:left;
}
.head-ul2 li{
    float:left;
    padding:20px;
}
.head-ul2 li:hover{
    background:#00b8ef;
    color:#fff;
}
.head-ul2 img{
    vertical-align:middle;
    margin-right:7px;  
}
.head-ul3{
    float:right;
}
.head-ul4 li{
    float:left;
    margin:0 15px;
    padding:20px 0;
}
.head-ul5{
    width:115px;
    margin:15px 0 10px 30px;
    color:#ffcc00;
}
.head-ul5 img{
    float:left;
}
.head-ul0{
    float:left;
    font-size:14px;
}
/*轮播图*/
.aaa{
    position:relative;
}
.aaa p{
    font-family:"宋体" ;
    font-size:100px;
    color:#f1f1f1;
    z-index:333;
    position:absolute;
    top:260px;
}
.lbt{
    width:1349px;
    height:475px;
    position:relative;
}
.lbt li{
    width:1349px;
    height:475px;
    position:absolute;
}
.lbt .li{
    background:url(../images/轮播.jpg);
}
.lbt .li0{
    background:url(../images/轮播1.jpg);
}
.lbt .li1{
    background:url(../images/轮播2.jpg);
}

.lbt-left{
    left:180px;
}
.lbt-right{
    right:160px;
}
.nav{
    width:800px;
    z-index:222; 
    text-align:center; 
    position:absolute;
    top:200px;
    left:300px;
}
.nav h1{
    font-size:70px;
    color:#fff;
}
.nav h2{
    color:#fff;
}
.nav-ul{
    background:#b1b0af; 
    margin:0 auto;
    border-radius:7px; 
    margin:35px 0;
    padding-bottom:15px; 
}
.nav-ul0 li{
    float:left;
    margin:10px 43px;
}
.nav-ul0 li:nth-child(1) img{
        opacity:1;
}
.nav-ul0 img{
    vertical-align:middle;
    margin-right:8px; 
    opacity:0;
}
.nav-ul0 .uk{
    color:#ffcc00;
}
.nav-ul0 .usa{
    color:#fff;
}
.nav-ul1 input{
    width: 645px;
    height: 50px;
    border-bottom-left-radius:4px;
    border-top-left-radius:4px;
    color: #333333;
    font-size:18px;
    padding-left:15px;
}
.nav-ul1 button{
    background:#ffcc00;
    width:110px;
    height: 50px;
    font-size:18px;
    border-bottom-right-radius:4px;
    border-top-right-radius:4px;
}
.nav-ul1 button:hover{
    opacity:0.7; 
}

/*广告*/
.banner{
    text-align:center;
    font-size:40px; 
    padding:35px 0 0;
}
.banner-ul{
    width:1000px;
    margin:15px auto;
    position:relative;
}
.banner-ul li{
    width:380px;
    height:380px;
    float:left;
    margin:0 60px;
    overflow:hidden;
    border-radius:50%;
}

.banner1-ul{
    background:url(../images/29.png);
    height:420px;
}
.banner1-ul0{
    width:820px;
    margin-left:530px;
    padding-top:130px;
}
.banner1-ul0 ul{
    float:left;
    margin:30px;
}
.banner1-ul0 .safe{
    background:#e5a742;

}
.banner1-ul0 .us{
    background:#abd275;

}
.banner1-ul0 .problem{
    background:#ff5b5b;

}
.coin-special1,.coin-special2,.coin-special3{
    display:inline-block;
    text-align: center;

}
.coin-special1{
    background:url(../images/9.png) ;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
        width:98px;
    height:43px;
    margin:0 8px 10px 0;

}
.coin-special2{
     background:url(../images/10.png);
     background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
           width:67px;
    height:70px;
        margin: 16px 0 0px 5px;
}
.coin-special3{

    background:url(../images/11.png);  
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
           width:64px;
    height:64px;
          margin: 26px 0 0px 10px;
}
.banner1-ul0 .banner1-ul1{
    width:130px;
    height:130px;
    line-height:165px;
    border-radius:50%;
    text-align:center;
    position: relative;
        z-index:5;
}
.banner1-ul0 .banner1-ul1:hover{
        -moz-box-shadow: 10px 10px 5px #aaa; 
box-shadow: 10px 10px 5px #aaa;
}
.banner1-ul0 a{
    font-size:22px;
    text-decoration:underline;
    color:#00b8ef;
}
/*页脚*/
.footer{
    background:#3a3a3a;
    padding:30px 0 20px;
    text-align:center;
    color:#fff;
}
.footer a{
    color:#fff;
}
.footer-ul0{
    width:1200px;
    margin:0 auto;
}
.footer-ul0 .footer-ul{
    float:left;
    margin:0 56px;
}
.footer-ul a:hover{
    color:#00b8ef;
}
.footer-ul li{
    line-height:40px; 
}
.footer-ul1 li:hover{
    background:#ffcc00;
}
.footer-ul1 li{
    background:#00b8ef;
    width:40px;
    height:40px;
    line-height:40px;
    border-radius:5px; 
    text-align:center; 
    margin:0 10px;
    float:left;
    padding-top:3px;
}
.footer-ul2{
    width:180px;
    margin:70px 0 40px;
    text-align:left; 
}
.footer-ul2 img{
    float:left;
    margin-right:10px;
    padding-top:10px; 
}
.footer-ul2 .number{
    font-size:22px;
}
.footer .p{
    border-top:1px solid #575757;
    padding:25px 0 15px;
}
.footer .link{
    color:#ccccc2;
}
/*侧导航栏*/
.nav-right{
    width:50px;
    text-align:center;
    position:fixed;
    top:150px;
    right:10px;
    z-index:666;
}
.nav-right1>li{
    background:#766f64;
    width:50px;
    line-height:50px; 
    margin-bottom:1px;
    position:relative;
}
.nav-right li:hover{
    background:#ffcc00;
    cursor:pointer;
}
.nav-right1>img{
    vertical-align:middle; 
}
.nav-right0{
   /* display:none; */
}
.nav-right2,.nav-right3 li{
    background:#ffcc00;
    color:#fff;
}
.nav-right2{
    overflow:hidden;
    width:0;
    line-height: 50px;
    height:50px;
    font-size:20px;
    position:absolute;
    top:0;
    right:50px;
}
.nav-right3 li{
    float:left;
    width:50px;
    line-height:50px; 
}
.bbb{
         width:0px;
         position:absolute;
         top:0px;
         right:49px;
         overflow: hidden;
         height:50px;
}
.nav-right3{
      line-height: 50px;
      background:orange;
      z-index:0;
}
/*.nav-right1 li:nth-child(5):hover */
/*.nav-right3 li:hover{
    background:#f5c400;
}*/

/*二级菜单*/
.nav-ul2{
    background:#fff;
    width:770px;
    height:260px;
    padding:15px;
    text-align:left; 
    overflow-y:auto;
    position:absolute; 
    top:232px;
    z-index:10;
    display:none;
}
.nav-ul2 p{
    font-size:22px;
    color:#00f;
}
.nav-ul2 li{
    float:left;
    line-height:43px; 
}
.nav-ul4 li{
    width:162px;
}
.nav-ul4{
    border-bottom:1px solid #f1f1f1;
    margin:15px 0;
}
.nav-ul6 li{
    width:328px;